*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

@mixin container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

@mixin row($sizegap){
    display: flex ;
    align-items: center;
    gap: $sizegap;
}
@mixin text{
    max-width: 500px;
    height: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

body{
    background-color: #252B42;
    color: white;   
}
header{
    @include container();
    nav{
        @include row(20px);
        a{
            color: white;
            text-decoration: none;
        }
    }
    div{
        @include row(20px);
        button:first-child{
            border: none;
            background-color: transparent;
            color: white;
        }
        button:last-child{
            background-color: #23A6F0;
            color: white;
            padding: 15px 30px;
            border-radius: 10px;
            border: none;
        }
    }
    .icons{
        display: none;
    }
}

.section1{
    @include container();
    aside:first-child{
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1{
            font-size: 70px;
        }
        p{
            font-size: 20px;
        }
        div{
            @include row(20px);
            button{
                border: none;
                padding: 15px 30px;
                border-radius: 30px;
                color: white;
            }
            button:first-child{
                background-color: #23A6F0;
            }
            button:last-child{
                background-color: transparent;
                border: 1px solid white;
            }
        }
        img{
            top: 100px;
            left: 0px;
            position: absolute;
        }
    }
    aside:last-child{
        position: relative;
        img:last-child{
            left: 0;
            z-index: -1;
            top: 30px;
            position: absolute;
        }
    }
}
.menu_mobile{
    display: none;
}
.text{
    p{
        color: grey;
        margin-top: 20px
    }
    h1{
        font-size: 40px
    }
    @include text();
}

.sec2{
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .a1{
        width: 400px;
        height: 160px;
        padding: 20px;
        border: 1px solid white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.divgirl{
    max-width: 750px;
    height: 320px;
    padding: 30px;
    background-color: white;
    color: black;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    background-image: url(./main-content.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -40px;
    margin-bottom: 40px;
}
.img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-top: -100px;
    flex-wrap: wrap;
    .a2{
        padding: 20px;
        width: 260px;
        height: 90px;
        border-radius: 15px;
        border: 1px solid white;
        display: flex;
        justify-content: start;
        gap: 20px;
        align-items: center;
    }
}
.sec4{
    @include container();
    .a3{
        width: 550px;
        height: 250px;
        background-color: white;
        border-radius: 15px;
        padding: 2px;
        color: #252B42;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .a4{
            width: 250px;
            height: 150px;
            
            h2{
                color: #23A6F0;
            }
            p{
                margin-top: 30px;
            }
        }
        .a5{
        width: 250px;
        height: 150px;
            h1{
                color: #23A6F0;
            }
            button{
                padding: 10px;
                border-radius: 10px;
                background-color: #23A6F0;
                margin-top: 30px;
            }
        }
    }
}








@media (max-width: 500px){
    header{
        nav, div{
            display: none;
        }
    }
    .icons{
        display: flex !important;
    }
    .section1{
        flex-direction: column;
        aside:last-child{
            img{
                width: 100%;
            }
        }
    }
    .menu_mobile{
        display: block;
        nav{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }
        a{
            color: white;
            font-size: 30px;
            text-decoration: none;
        }        
    }
    .img{
        width: 100%;
        margin: auto;
        text-align: center;
        .a2{
            margin: auto;
            margin-bottom: 20px;
        }
    }
    .sec4{
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        margin: auto;
        .a3{
            margin-top: 30px;
            width: 100%;
        }
    }
}

